(
.notdef,
NULL,
CR,
space,
nbspace,
"a-sinh",
"aa-sinh",
"ae-sinh",
"aae-sinh",
"i-sinh",
"ii-sinh",
"u-sinh",
"uu-sinh",
"vocalicr-sinh",
"vocalicrr-sinh",
"vocalicl-sinh",
"vocalicll-sinh",
"e-sinh",
"ee-sinh",
"ai-sinh",
"o-sinh",
"oo-sinh",
"au-sinh",
"ka-sinh",
"kha-sinh",
"ga-sinh",
"gha-sinh",
"nga-sinh",
"nnga-sinh",
"ca-sinh",
"cha-sinh",
"ja-sinh",
"jha-sinh",
"nya-sinh",
"jnya-sinh",
"nyja-sinh",
"tta-sinh",
"ttha-sinh",
"dda-sinh",
"ddha-sinh",
"nna-sinh",
"nndda-sinh",
"ta-sinh",
"tha-sinh",
"da-sinh",
"dha-sinh",
"na-sinh",
"nda-sinh",
"pa-sinh",
"pha-sinh",
"ba-sinh",
"bha-sinh",
"ma-sinh",
"mba-sinh",
"ya-sinh",
"ra-sinh",
"la-sinh",
"va-sinh",
"sha-sinh",
"ssa-sinh",
"sa-sinh",
"ha-sinh",
"lla-sinh",
"fa-sinh",
"anusvaraya-sinh",
"visargaya-sinh",
"kVa-sinh",
"kSsa-sinh",
"gDha-sinh",
"nyCa-sinh",
"ttTtha-sinh",
"tTha-sinh",
"tVa-sinh",
"dDha-sinh",
"dVa-sinh",
"nTha-sinh",
"nDa-sinh",
"nDha-sinh",
"nVa-sinh",
"virama-sinh",
"virama-sinh.alt1",
"virama-sinh.alt2",
"aasign-sinh",
"aesign-sinh",
"aaesign-sinh",
"isign-sinh",
"isign-sinh.alt1",
"isign-sinh.alt2",
"isign-sinh.alt3",
"isign-sinh.alt4",
"isign-sinh.alt5",
"isign-sinh.alt6",
"isign-sinh.alt7",
"isign-sinh.alt8",
"isign-sinh.alt9",
"iisign-sinh",
"iisign-sinh.alt1",
"iisign-sinh.alt2",
"iisign-sinh.alt3",
"iisign-sinh.alt4",
"iisign-sinh.alt5",
"iisign-sinh.alt6",
"iisign-sinh.alt7",
"iisign-sinh.alt8",
"iisign-sinh.alt9",
"usign-sinh",
"usign-sinh.alt1",
"usign-sinh.alt2",
"usign-sinh.alt3",
"uusign-sinh",
"uusign-sinh.alt1",
"uusign-sinh.alt2",
"uusign-sinh.alt3",
"vocalicrsign-sinh",
"esign-sinh",
"eesign-sinh",
"aisign-sinh",
"osign-sinh",
"oosign-sinh",
"ausign-sinh",
"vocaliclsign-sinh",
"vocalicrrsign-sinh",
"vocalicllsign-sinh",
kunddaliya,
"repha-sinh",
"repha-sinh.alt1",
"yasign-sinh",
"rasign-sinh",
"rasign-sinh.alt1",
"rasign-sinh.alt2",
"rasign-sinh.alt3",
"rasign-sinh.alt4",
"rasign-sinh.alone",
"aasign-sinh.al",
"aesign-sinh.low",
"aaesign-sinh.low",
"candrabindu-sinh",
"nyRa-sinh",
"jnyRa-sinh",
"dRa-sinh",
"ndRa-sinh",
"nDRa-sinh",
"kh-sinh",
"ng-sinh",
"c-sinh",
"jh-sinh",
"tt-sinh",
"dd-sinh",
"nndd-sinh",
"dh-sinh",
"b-sinh",
"m-sinh",
"mb-sinh",
"r-sinh",
"v-sinh",
"kV-sinh",
"gDh-sinh",
"nyC-sinh",
"tV-sinh",
"dDh-sinh",
"dV-sinh",
"nDh-sinh",
"nV-sinh",
"khI-sinh",
"ngI-sinh",
"cI-sinh",
"jhI-sinh",
"ttI-sinh",
"ddI-sinh",
"nnI-sinh",
"nnddI-sinh",
"dhI-sinh",
"bI-sinh",
"mI-sinh",
"mbI-sinh",
"yI-sinh",
"rI-sinh",
"vI-sinh",
"kVI-sinh",
"gDhI-sinh",
"nyCI-sinh",
"tVI-sinh",
"dDhI-sinh",
"dVI-sinh",
"nDhI-sinh",
"nVI-sinh",
"khIi-sinh",
"ngIi-sinh",
"cIi-sinh",
"jhIi-sinh",
"ttIi-sinh",
"ddIi-sinh",
"nnIi-sinh",
"nnddIi-sinh",
"dhIi-sinh",
"bIi-sinh",
"mIi-sinh",
"mbIi-sinh",
"yIi-sinh",
"rIi-sinh",
"vIi-sinh",
"kVIi-sinh",
"gDhIi-sinh",
"nyCIi-sinh",
"tVIi-sinh",
"dDhIi-sinh",
"dVIi-sinh",
"nDhIi-sinh",
"nVIi-sinh",
"kU-sinh",
"gU-sinh",
"nngU-sinh",
"nyU-sinh",
"jnyU-sinh",
"tU-sinh",
"dU-sinh",
"ndU-sinh",
"bhU-sinh",
"lU-sinh",
"shU-sinh",
"llU-sinh",
"nDU-sinh",
"kUu-sinh",
"gUu-sinh",
"nngUu-sinh",
"nyUu-sinh",
"jnyUu-sinh",
"tUu-sinh",
"dUu-sinh",
"ndUu-sinh",
"bhUu-sinh",
"lUu-sinh",
"shUu-sinh",
"nDUu-sinh",
"rAe-sinh",
"rAae-sinh",
exclam,
quotedbl,
numbersign,
percent,
quotesingle,
parenleft,
parenright,
asterisk,
plus,
comma,
hyphen,
period,
slash,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
"lithzero-sinh",
"lithone-sinh",
"lithtwo-sinh",
"liththree-sinh",
"lithfour-sinh",
"lithfive-sinh",
"lithsix-sinh",
"lithseven-sinh",
"litheight-sinh",
"lithnine-sinh",
"archaicone-sinh",
"archaictwo-sinh",
"archaicthree-sinh",
"archaicfour-sinh",
"archaicfive-sinh",
"archaicsix-sinh",
"archaicseven-sinh",
"archaiceight-sinh",
"archaicnine-sinh",
"archaicten-sinh",
"archaictwenty-sinh",
"archaicthirty-sinh",
"archaicforty-sinh",
"archaicfifty-sinh",
"archaicsixty-sinh",
"archaicseventy-sinh",
"archaiceighty-sinh",
"archaicninety-sinh",
"archaiconehundred-sinh",
"archaiconethousand-sinh",
colon,
semicolon,
less,
equal,
greater,
question,
bracketleft,
backslash,
bracketright,
asciicircum,
underscore,
braceleft,
bar,
braceright,
asciitilde,
endash,
emdash,
quoteleft,
quoteright,
quotedblleft,
quotedblright,
ellipsis,
multiply,
divide,
minus,
"touch-sinh",
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
dottedcircle,
"vocalicrbase-sinh",
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z
)